div(class='header', id='header')
	h1(class="Title")
		| CS Reference
		
	h1(class="NavBar") 
		| 
		a(href="/") Home
		|  • 
		a(href="/players") Players
		|  •  
		a(href="/about") About
		|  •    
		a(href="/betting") Betting
		|  •    
		a(href="/definitions") Definitions
		|  •  
		a(href="https://medium.com/@liam_ralph", target="_blank") Articles
		|  • 
		a(href="https://twitter.com/ralphiisports", target="_blank") Twitter
		|  • 
		a(href="https://www.linkedin.com/in/liam-ralph/", target="_blank") LinkedIn