div(class='header', id='header')
	h1(class="Title")
		| CSGO Map Win Probabilities
		
	h1(class="NavBar") 
		| 
		a(href="/") Home
		|  • 
		a(href="/about") About
		|  •     
		a(href="https://medium.com/@liam_ralph", target="_blank") Articles
		|  • 
		a(href="https://twitter.com/ralphiisports", target="_blank") Twitter