html
	head
		title CS Reference
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bebas+Neue")
		script(src="https://cdn.amcharts.com/lib/5/index.js")
		script(src="https://cdn.amcharts.com/lib/5/xy.js")
		style 	
			include ../style/style.css
body
	include ../partials/header

	div(class='main', id='main')
		
		h1(class="TitleBig") 
			| About
		h1(class="Title") 
			| Map Model
		p The model is a gradient boosted classifier built with XGBoost. It is trained on an ~130,000 round, ~6000 Map dataset of tier 1 professional games from 2015-2022. The dataset includes attributes such as Current Score, Loss Streaks, Players alive at the end of the previous round, Team Money, and Current Map. It does not take into account a tams current side, but their starting side. I've found that starting side is a more accurate predictor, which I assume can be attributed to physocological effects, playing t side first and losing the first half leads you to force buy more often out of desperation, but I could be wrong.  

		h1 
			| Overtime 
		p The model is not great at predicting overtime. This is for a few reasons, the biggest being that the model heavily weighs the current economy of teams, which doesn't really matter in overtime. Another reason is that not only are there much fewer overtime games to train on, but overtime rules are far from consistent, further skewing an already small dataset. 
		
		h1 
			| Unintuitive Results
		p You may sometimes see a team win a round, but have their win chance decrease. This is the model highly valuing economy over everything else. While score is the determining factor for winning, it doesn't tell the whole story. Winning or barely losing a given round could lead to breaking a teams economy and effectively count as 2+ round wins, likely against saving opponents. Eco frags also greatly affect the model as killing a saving target only gains the kill reward and removes ~$800 in equipment value, getting an eco frag on the other hand grants you the same kill reward but also removes potentially $4000+ worth of equipment value. Killing one player with just a rifle and armour, with each player spending $800 can actually be a good round. These unintuitive results can also be observed with sportsbooks live odds changes. 

		h1 
			| Improvements
		p To increase model accuracy, I think different sections of maps would need to be broken up into chunks, one for pistol rounds and early in the half, one for when actual buy vs buy rounds happen, one for when a team is nearing victory, and a seperate model for overtime. I have also tried calculating map win probability the same way I did for rounds, taking into account the current rounds win chance, unfortunately it would require too much computing power and take a lot longer to train, and a lot longer to predict each map. There is also a large amount of collinearity between round and map win chances, so I decided to keep them seperate.

		h1(class="Title") 
			| Round Model
		p The round model is much more accurate and also is much more useful to look at. It takes into account many diffrent variables such as: equipment value, hp/armour, and average player distance to each bombsite. 
		h1(class="Title") 
			| Kill Model (xKills)
		p The kill model is what started it all, inspired largely by moneypuck's expected goals model, this model looks at the current state of each duel participant, and estimates the chances of each kill. The model uses HP, armour, weapons, velocity, and height differences amongst other things to determine how often the average pro would be successful. One important thing is that the stated damage value on the tooltip is only the value of the last bullet that hit the victim, but the probability calculation takes into account each players HP 3 seconds before the death occured. I'll eventually fix it.

	include ../partials/footer


