html
	head
		title CS Reference
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bebas+Neue")
		script(src="https://cdn.amcharts.com/lib/5/index.js")
		script(src="https://cdn.amcharts.com/lib/5/xy.js")
		style 	
			include ../style/style.css
body
	include ../partials/header

	div(class='main', id='main')
		
		h1(class="Title") 
			| Kill Model
		p The kill model is what started it all, inspired largely by moneypuck's expected goals model, this model looks at the current state of each duel participant, and estimates the chances of each kill, called Expected Kills. HP values are taken 1 second (128 ticks) before the final blow is dealt, among some other inputs such as velocity and weapon.
		
		h1(class="Title") 
			| Round Model
		p The round model is the most accurate and also the most useful to look at, it is the basis for Round Impact. It takes into account many diffrent variables such as: equipment value, hp/armour, and average player distance to each bombsite. 
		
		h1(class="Title") 
			| Map Model
		p The map model uses attributes such as Current Score, Loss Streaks, Economy State, and Map in order to predict a teams chances to win the map.   

	include ../partials/footer


