html
	head
		title CS Reference
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bebas+Neue")
		script(src="https://cdn.amcharts.com/lib/5/index.js")
		script(src="https://cdn.amcharts.com/lib/5/xy.js")
		style 	
			include ../style/style.css
body
	include ../partials/header

	div(class='main', id='main')
		
		h1(class="Title") 
			| Current Stats
		p 
			| Matches: 109 Bets / 269 Matches
			br
			| Match Accuracy: 58.7%
			br
			| Average Odds 2.17
			br
			| Return on Investment: 14.9%
		h1(class="Title") 
			| Predicting Games
		p The betting model is another model that takes a variety of inputs relating to the performance of pro teams. Stats are pulled from the 30 day window before the match. Some stats include Anti/Eco Win Rates, Monetary Efficiency, and AWP Reliance. The model and it's strategy have been tested on every pro game between May 9th, 2022 and October 16th, 2022.
		h1(class="Title") 
			| Getting the odds
		p For each game, each map of the map pool is simulated. The model will pull specific stats for each map, such as round winrate. The model will then predict the win chances for each team, on each map. Currently, model uses the maps that were picked to get the win chances, and then the reciprocal is taken to get the odds. There are a few different strategies, you can take the odds from all 7 maps and weight them evenely, you could simulate a veto, or oyu could wait for the actual veto and evenly weight those maps, and just eating the odds shift. In backtesting, evenely weighing all 7 maps is the easiest and has the most value
		h1(class="Title") 
			| Betting Strategy
		p After the model's odds are calculated, they are then compared with sportsbook odds to see where any value may lie. As a way to prevent single games causing bankruptcy, the Kelly Criterion is then used to calculate bet size, using a coefficient of 4 to get the recomended % of bankroll to bet.
	include ../partials/footer


