html
	head
		title CS Reference
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bebas+Neue")
		script(src="https://cdn.amcharts.com/lib/5/index.js")
		script(src="https://cdn.amcharts.com/lib/5/xy.js")
		style 	
			include ../style/style.css
body
	include ../partials/header

	div(class='main', id='main')
		
		
		h1(class="Title") 
			| Expected Kills
		p Expected Kills, shortened to xKills sums up the probability that a player gets the kill in each kill and death they participated in. If a player had a 67% chance to get a kill, it would equal 0.67 xKills. This quantifies how many times the average player would have gotten the kill.
		h1(class="Title") 
			| Round Impact 
		p Round Impact , shortened to RI is the sum of the round win probability change that occured due to all the kills and deaths a player participated in. Getting 2 kills that increase your team's chances of winning a round by 25% would be 0.5 RI, and then dying which causes a -30% swing would be 0.2 RI total. This quantifies many rounds a player's actions ACTUALLY gained for their team compared to the average pro.
		h1(class="Title") 
			| Expected Round Impact
		p Expected Round Impact, shortened to xRI combines xKills and RI, it takes the probability of a play being successful, multiplied by the change in round win probability the play had. This is added up for each kill event a player partook in. 67% chance to get a kill that changes the round win % by 25 would be 0.1675 xRI. This quantifies many rounds a player's actions SHOULD'VE gained for their team compared to the average pro, given their situation.

	include ../partials/footer


