html
	head
		title CS Reference
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bebas+Neue")
		style 	
			include ../style/style.css
body()
	include ../partials/header

	div(class='main', id='main', ids=matchIDs)
		h1(class="Title") Matches
		h1(class="navBar")
			|
			if beforeAndAfter.before
				a(class="dateNav", href='/date/'+beforeAndAfter.before) Prev Day 
			| &nbsp  #{date} &nbsp
			if beforeAndAfter.after
				a(class="dateNav", href='/date/'+beforeAndAfter.after) Next Day 
			
			div(class="Matches")
				|
				each key in matchIDs
					a(class="matchLink", href='/match/'+key.matchid) #{matches[key.matchid].winner} vs. #{matches[key.matchid].loser}
					br
	include ../partials/footer


