html
	head
		title CS Reference
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bebas+Neue")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js")
		style 	
			include ../style/style.css
body(onload="tableSorter()")
	include ../partials/header

	div(class='main', id='main')
		
		div(class="MapSummary")
				|
				h1(class="Title") Map Stats
				table(id="MapTable", class="tablesorter")
					thead
						tr
							th Team 
							th Name 
							th Maps
							th xKills 
							th rWPA 
							th XrWPA
					tbody(id="MapTableBody")

	script(src="/tableSorter.js")

	include ../partials/footer


